---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=denver,co&key=<GEOCODE_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Denver",
                       "short_name" : "Denver",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Denver County",
                       "short_name" : "Denver County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Colorado",
                       "short_name" : "CO",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Denver, CO, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 39.91424689999999,
                          "lng" : -104.6002959
                       },
                       "southwest" : {
                          "lat" : 39.614431,
                          "lng" : -105.109927
                       }
                    },
                    "location" : {
                       "lat" : 39.7392358,
                       "lng" : -104.990251
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 39.91424689999999,
                          "lng" : -104.6002959
                       },
                       "southwest" : {
                          "lat" : 39.614431,
                          "lng" : -105.109927
                       }
                    }
                 },
                 "place_id" : "ChIJzxcfI6qAa4cR1jaKJ_j0jhE",
                 "types" : [ "locality", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Tue, 14 Jan 2020 00:53:26 GMT
[...]
- request:
    method: get
    uri: https://api.darksky.net/forecast/<DARKSKY_KEY>/39.7392358,-104.990251
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authentication-Time:
      - 651ms
      X-Forecast-Api-Calls:
      - '1'
      X-Response-Time:
      - 85.869ms
    body:
      encoding: ASCII-8BIT
      string: '{"latitude":39.7392358,"longitude":-104.990251,"timezone":"America/Denver","currently":{"time":1578963207,"summary":"Clear","icon":"clear-night","nearestStormDistance":10,"nearestStormBearing":320,"precipIntensity":0,"precipProbability":0,"temperature":39.93,"apparentTemperature":35.2,"dewPoint":3.59,"humidity":0.21,"pressure":1014.3,"windSpeed":6.76,"windGust":6.76,"windBearing":147,"cloudCover":0.05,"uvIndex":0,"visibility":10,"ozone":367.2},"minutely":{"summary":"Clear
        for the hour.","icon":"clear-night","data":[{"time":1578963180,"precipIntensity":0,"precipProbability":0},{"time":1578963240,"precipIntensity":0,"precipProbability":0},{"time":1578963300,"precipIntensity":0,"precipProbability":0},{"time":1578963360,"precipIntensity":0,"precipProbability":0},{"time":1578963420,"precipIntensity":0,"precipProbability":0},{"time":1578963480,"precipIntensity":0,"precipProbability":0},{"time":1578963540,"precipIntensity":0,"precipProbability":0},{"time":1578963600,"precipIntensity":0,"precipProbability":0},{"t[...]
[...]
