---
http_interactions:
- request:
    method: get
    uri: https://api.darksky.net/forecast/<DARKSKY_KEY>/39.7392358,-104.990251
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authentication-Time:
      - 506ms
      X-Forecast-Api-Calls:
      - '45'
      X-Response-Time:
      - 103.012ms
    body:
      encoding: ASCII-8BIT
      string: '{"latitude":39.7392358,"longitude":-104.990251,"timezone":"America/Denver","currently":{"time":1578977226,"summary":"Clear","icon":"clear-night","nearestStormDistance":13,"nearestStormBearing":310,"precipIntensity":0,"precipProbability":0,"temperature":31.32,"apparentTemperature":31.36,"dewPoint":7.22,"humidity":0.36,"pressure":1016.5,"windSpeed":2.79,"windGust":4.33,"windBearing":118,"cloudCover":0.05,"uvIndex":0,"visibility":10,"ozone":365.6},"minutely":{"summary":"Clear
        for the hour.","icon":"clear-night","data":[{"time":1578977220,"precipIntensity":0,"precipProbability":0},{"time":1578977280,"precipIntensity":0,"precipProbability":0},{"time":1578977340,"precipIntensity":0,"precipProbability":0},{"time":1578977400,"precipIntensity":0,"precipProbability":0},{"time":1578977460,"precipIntensity":0,"precipProbability":0},{"time":1578977520,"precipIntensity":0,"precipProbability":0},{"time":1578977580,"precipIntensity":0,"precipProbability":0},{"time":1578977640,"precipIntensity":0,"precipProbability":0},{"t[...]
