---
http_interactions:
- request:
    method: get
    uri: https://api.darksky.net/forecast/<DARKSKY_KEY>/39.7392358,-104.990251
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authentication-Time:
      - 858ms
      X-Forecast-Api-Calls:
      - '1'
      X-Response-Time:
      - 131.224ms
    body:
      encoding: ASCII-8BIT
      string: '{"latitude":39.7392358,"longitude":-104.990251,"timezone":"America/Denver","currently":{"time":1579058982,"summary":"Clear","icon":"clear-night","nearestStormDistance":10,"nearestStormBearing":290,"precipIntensity":0,"precipProbability":0,"temperature":40.76,"apparentTemperature":39.92,"dewPoint":6.97,"humidity":0.24,"pressure":1011.5,"windSpeed":2.93,"windGust":4.98,"windBearing":109,"cloudCover":0.01,"uvIndex":0,"visibility":10,"ozone":353.8},"minutely":{"summary":"Clear
        for the hour.","icon":"clear-night","data":[{"time":1579058940,"precipIntensity":0,"precipProbability":0},{"time":1579059000,"precipIntensity":0,"precipProbability":0},{"time":1579059060,"precipIntensity":0,"precipProbability":0},{"time":1579059120,"precipIntensity":0,"precipProbability":0},{"time":1579059180,"precipIntensity":0,"precipProbability":0},{"time":1579059240,"precipIntensity":0,"precipProbability":0},{"time":1579059300,"precipIntensity":0,"precipProbability":0},{"time":1579059360,"precipIntensity":0.004,"precipIntensityError":0.002,"precipProbability":0.01,"precipType":"rain"},{"time":1579059420,"precipIntensity":0.004,"precipIntensityError":0.002,"precipProbability":0.01,"precipType":"rain"},{"time":1579059480,"precipIntensity":0.004,"precipIntensityError":0.002,"precipProbability":0.02,"precipType":"rain"},{"time":1579059540,"precipIntensity":0,"precipProbability":0},{"time":1579059600,"precipIntensity":0.004,"precipIntensityError":0.002,"precipProbability":0.02,"precipType":"rain"},{"time":1579059660,"precipIntensity":0.004,"precipIntensityError":0.002,"pre[...]
